@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #212121;
  color: white;
  min-height: 100vh;
  font-family: "Exo", system-ui;
}

button {
  background: #242424;
  cursor: pointer;
  border: none;
  color: white;
  padding: 8px 20px;
  outline: none;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  transition: all 0.4s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.51rem;

  &:hover {
    filter: brightness(60%);
  }
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.login {
  background: whitesmoke;
  color: black;
  width: 60vw;
  max-width: 600px;
  height: 50vh;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 98% 83%, 100% 99%, 95% 91%, 1% 91%);

  & div {
    display: flex;
    align-items: center;

    img {
      width: 50px;
    }
  }

  @media screen and (max-width: 700px) {
    width: 90vw;
  }
}

.room-page {
  background: whitesmoke;
  color: #1a1a1a;
  padding: 40px 60px 80px 60px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80vw;
  max-width: 400px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 98% 89%, 100% 97%, 95% 94%, 0 94%);

  input {
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  button:last-child {
    background: crimson;
  }

  img {
    width: 70px;
  }
}

// CHAT SAYFASI
.chat-page {
  background: whitesmoke;
  height: 95vh;
  width: 70vw;
  max-width: 800px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  box-shadow: 0 0 5px rgb(255, 255, 255);
  @media screen and (max-width: 650px) {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  header {
    background: #4d4c7d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
  }


  .message-form {
    background: #4d4c7d;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 1rem;

    & > input {
      width: 60%;
      border-radius: 5px;
      border: none;
      outline: none;
      padding: 5px 10px;
      font-size: 1rem;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    & > button {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
  }
}

.chat-page main {
  flex: 1;
  padding: 10px;
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 1rem;
  background: url("../../public/back.jpg") center center no-repeat;
  background-size: cover;

  &::-webkit-scrollbar {
    background: transparent;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #4d4c7d;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    width: 5px;
  }
}


.msg-user {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  align-self: end;
  max-width: 70%;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: end;
  }

  p {
    background: rgba(250, 235, 215, 0.84);
    padding: 5px 10px;
    border-radius: 10px 10px 0 10px;
    border: 1px solid rgba(128, 128, 128, 0.25);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}

.msg-other {
  display: flex;
  gap: 5px;
  max-width: 70%;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: end;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: rgba(240, 248, 255, 0.55);
    padding: 5px 10px;
    border: 1px solid rgba(128, 128, 128, 0.25);
    border-radius: 10px 10px 10px 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    p:first-child {
      font-size: 12px;
      font-weight: bold;
      border-bottom: 1px solid rgba(128, 128, 128, 0.31);
    }

    p {
      flex: 1;
    }
  }
}

.warn {
  flex: 1;
  display: grid;
  place-items: center;
  color: grey;
}

.chat-page .message-form {
  position: relative;

  .emoji button {
    padding: 6px;
  }
}

.chat-page .message-form div aside {
  position: absolute;
  right: 10px;
  top: -450px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);

  button {
    padding: 0;
  }
}